* {
    margin: 0px;
    padding: 0px;
}

hr {
    color: rgba(114, 114, 114, 0.301);
    margin-top: 70px;
}
.home {
    display: flex;

}



/* Header - aside left*/
.left {
    position: fixed;
    height: 100vh;
    background-image: url('./img/bg.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 700px;
}
.container-aside{
    background-color: rgba(0, 0, 0, 0.349);
    height: 100vh;
}
.photo {
    background-image: url('./img/cat-perfil.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 50%;
    margin-top: 100px;
}
.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(207, 207, 207);
}
.text-header p {
    margin: 5px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
.icons {
    display: flex;
    justify-content: center;
    width: 700px;

}
.icons img {
    margin: 20px;
    cursor: pointer;
}

/* Content - aside right*/

.right {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 750px;
    margin-right: 50px;
    width: 100% ;
    height: 100vh;

}
.title {
    font-size: 30px;
    margin-top: 20px;
    color: rgb(114, 114, 114);
}
#title-first{
    margin-top: 50px;
}
.title-2 {
    font-size: 25px;
    margin-top: 100px;
    color: rgb(114, 114, 114);
}
.text{
    font-size: 18px;
    color: rgb(150, 150, 150);
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

}
.text p{
    margin: 2px;
    padding: 0px;
}
.projects-imgs{
    margin-top: 50px;
    display: flex;
}
.project{
    width: 200px;
    height: 200px;
    background-image: url('./img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3%;
    cursor: pointer;
    margin: 10px;
}
.project-myEnglish{
    width: 200px;
    height: 200px;
    background-image: url('./img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3%;
    cursor: pointer;
    margin: 10px;
    
}
.hide{
    display: none;
}
.project:hover .project-name{
    opacity: 1;
}
.project-myEnglish:hover .project-name{
    opacity: 1;
}
.project-name{
    display: flex;   
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 10px;
    transition: 1s;
    opacity: 0;
}
.project-name span{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.project-content-myEnglish{
    display: flex;
    flex-direction: column;
}
.container-slider{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.carousel-item{
    width: 100%;
    height: 500px;
}




